%btn {
    display: block;

    background: $orange;
    border-radius: to-rem(5);
    box-shadow: 0 to-rem(4) to-rem(4) rgba(75, 74, 74, 0.514);

    cursor: pointer;
    border: none;
    color: $white;
    font-family: inherit;
    font-size: to-rem(14);
    text-align: center;

    padding: to-rem(12) 0;
    width: to-rem(150);
    margin-bottom: to-rem(25);

    &:hover {
        transform: scale(1.05);
    }

    &:active {
        transform: scale(0.9);
    }

    @include breakpoint(tablet) {
        margin-bottom: to-rem(15);
    }
}

.btn {
    @extend %btn;
}

.buttons-container {
    @include --flex;

    flex-direction: column;
    align-items: center;

    @include breakpoint(tablet) {
        flex-direction: row;
        justify-content: space-evenly;
    }
}

.btn-img {
    display: inline-block;
    // background-size: 0%;
    background-position: center;
    background-repeat: no-repeat;
    width: 18px;
    height: 18px;
    margin-left: to-rem(4);
    vertical-align: to-rem(-3);
}

.resume-btn {
    margin: 0 auto;
    .btn-img {
        background-image: url('../../assests/svgs/link.svg');
    }
}

.more-btn {
    .btn-img {
        background-image: url('../../assests/svgs/more.svg');
        background-position-y: 65%;
        background-size: 95%;
    }
}
.view-site-btn {
    .btn-img {
        // background-image: url('../../svgs/link.svg');
        background-image: url('../../assests/svgs/link.svg');
    }
}

.source-code-btn {
    .btn-img {
        background-image: url('../../assests/svgs/code.svg');
        margin-left: to-rem(2);
        background-position-y: 70%;
    }
}

.btn-up {
    background: $white url('../../assests/svgs/top.svg');
    background-position: center;
    background-size: 120%;
    border: to-rem(3) solid $orange;
    border-radius: 50%;
    width: to-rem(50);
    height: to-rem(50);
    position: fixed;
    right: 4%;
    bottom: to-rem(120);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

.submit {
    box-shadow: 0 to-rem(4) to-rem(4) hsl(14, 100%, 28%);
}
