.banner__title {
    font-weight: 500;
    margin-bottom: to-rem(5);
    font-size: to-rem(26);

    @media (min-width: to-em(318)) {
        font-size: to-rem(28);
    }

    @include breakpoint(mobile-m) {
        font-size: to-rem(32);
    }

    @include breakpoint(mobile-l) {
        margin-top: to-rem(60);
        font-size: to-rem(36);
    }

    @include breakpoint(mobile-ls) {
        margin-top: to-rem(80);
        font-size: to-rem(44);
    }

    @include breakpoint(tablet) {
        margin-top: to-rem(86);
        font-size: to-rem(48);
    }

    @include breakpoint(laptop-s) {
        margin-top: to-rem(90);
        font-size: to-rem(54);
    }

    @include breakpoint(laptop-m) {
        margin-bottom: 0;
        font-size: to-rem(58);
    }
}
