.orange-circle {
    display: inline-block;

    font-size: to-rem(22);

    border-radius: 50%;
    color: $orange;

    @include breakpoint(mobile-l) {
        font-size: to-rem(24);
    }

    @include breakpoint(mobile-ls) {
        font-size: to-rem(26);
    }
    @include breakpoint(tablet) {
        font-size: to-rem(30);
    }
}
