@mixin --flex{
    display: flex;
}

@mixin breakpoint($size) {
    @media (min-width: to-em(map-get($breakpoints, $size))) {
        @content;
    }
}

@mixin fade-in{
    transition: opacity 0.3s, visibility 0.3s;
}

@mixin set-mb($val){
    margin-bottom: to-rem($val);
}