$curve-val: 100;

$breakpoints: (
    'mobile-s': 320,
    'mobile-m': 375,
    'mobile-l': 425,
    'mobile-ls': 573,
    'tablet': 768,
    'laptop-s': 1024,
    'laptop-m': 1366,
    'laptop-l': 1440,
);

// bottom margin values for mobile view
$mb-val-l: 110;
$mb-val-m: 80;
$mb-val-s: 50;