* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    &::selection {
        background: $d-grey;
        color: white;
    }
}

html{
    scroll-padding-top: to-rem(80);
    scroll-behavior: smooth;
}

body {
    animation: blur 1s ease-in forwards;

    background-color: $l-grey;

    font-family: $font-prompt;
    font-size: 16px;
    font-weight: 300;

    position: relative;

    line-height: 1.5;
}

a {
    text-decoration: none;

    &:visited {
        color: white;
    }
}

img {
    display: inline-block;
}

.hidden {
    opacity: 0;
    visibility: hidden;
}

// applied to body when menu is open
.no-scroll {
    overflow: hidden;
}
