.container__sub {
    @include set-mb($mb-val-l);

    background: $d-grey;
    border-bottom-left-radius: to-rem($curve-val);
    color: $l-grey;
    text-align: center;

    .background {
        // background: url('../../assests/svgs/optimized-logo.svg');
        // background: url('../../assests/svgs/optimized-logo.svg');
        background-repeat: no-repeat;
        background-size: 90%;
        background-position: center 40%;
        padding-top: to-rem(260);
        padding-bottom: to-rem(80);
        margin: 0 auto;
        @include breakpoint(mobile-m) {
            background-size: 80%;
        }

        @include breakpoint(mobile-l) {
            background-size: 74%;
        }

        @include breakpoint(mobile-ls) {
            background-size: 68%;
        }

        @include breakpoint(tablet) {
            background-size: 50%;
        }

        @include breakpoint(laptop-s) {
            background-size: 38%;
            background-position: center 38%;
        }

        @include breakpoint(laptop-m) {
            background-size: 34%;
            max-width: to-rem(1366);
        }
    }
}

.container-head {
    @include set-mb($mb-val-l + 35);
}

.container-foot {
    background: $d-grey;
    border-top-right-radius: to-rem($curve-val);
    min-height: 100vh;

    padding: to-rem($mb-val-s) 0;

    position: relative;
    z-index: -1;
    @include breakpoint(mobile-s) {
        padding-top: to-rem(60);
    }

    @include breakpoint(mobile-s) {
        padding-top: to-rem(70);
    }

    @include breakpoint(mobile-ls) {
        padding-top: to-rem(80);
    }
}
