.skills-container{
    @include --flex;

    justify-content: space-evenly;
    flex-wrap: wrap;

    max-width: to-rem(612);
    margin: 0 auto;

    &:nth-child(2){
        @include set-mb(35);
    }
}