.open-btn {
    // background: url('../../assests/svgs/menu-btn.svg');
    // background: url('../../../assests/svgs/menu-btn.svg');
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;

    height: to-rem(28);
    width: to-rem(40);

    &:hover {
        cursor: pointer;
    }

    @include breakpoint(tablet) {
        display: none;
    }
}
